#container {
    width: 55%;
    margin: 0px auto;
    margin-bottom: 35px;
}

#content {
    width: 100%;
    overflow: hidden;
}

#content .leftNav {
    width: 22%;
    float: left;
    background: #FAFAFA none repeat scroll 0 0;
}

#content .leftNav .menu_box {
    position: relative;
}

#content .leftNav .menu_box .nav_main {
    padding: 6px 12px;
    border: 2px solid #FAFAFA;
    position: relative;
}

#content .leftNav .menu_box .nav_main h2 {
    font-size: 1.12em;
    margin: 10px 0px;
}

#content .leftNav .menu_box a {
    font-size: 0.87em;
    display: inline-block;
    padding-right: 8px;
    margin: 0px 5px 10px 0px;
    white-space: nowrap;
}

#content .leftNav .menu_box:hover .nav_main {
    border: 2px solid #C9CBCE;
    border-right: #ffffff;
    background-color: #ffffff;
    z-index: 4;
    position: relative;
}

#content .leftNav a {
    color: #555555;
    text-decoration: none;
}

#content .leftNav a:hover {
    color: #019875;
    text-decoration: underline;
}

#content .leftNav .menu_box span {
    float: right;
    width: 13px;
    height: 14px;
    background: rgba(0, 0, 0, 0) url(../img/arr.png) no-repeat scroll 0 0;
}

#content .leftNav .menu_box .nav_sub {
    width: 250%;
    background-color: #ffffff;
    position: absolute;
    display: none;
}

#content .leftNav .menu_box .nav_sub dl {
    margin: 20px;
}

#content .leftNav .menu_box .nav_sub dt {
    width: 15%;
    float: left;
    text-align: right;
    margin-right: 5%;
}

#content .leftNav .menu_box .nav_sub dd {
    width: 80%;
    float: left;
}

#content .leftNav .menu_box .active {
    display: block;
    position: absolute;
    border: 2px solid #C9CBCE;
    z-index: 3;
}

#content .leftNav .order h2 {
    font-size: 1.12em;
    padding: 5%;
    margin-top: 5%;
    border-bottom: 2px solid #019875;
    cursor: pointer;
}

#content .leftNav .order span {
    width: 12px;
    height: 12px;
    float: right;
    padding: 5px;
    background: rgba(0, 0, 0, 0) url(../img/sub_icon.png) no-repeat scroll 0 0;
}

#content .rightContent {
    float: right;
    position: relative;
    width: 73%;
}

#content .rightContent #searchType {
    position: relative;
    width: 15%;
    cursor: pointer;
    display: inline-block;
    float: left;
    z-index: 5;
}

#content .rightContent #searchType ul {
    width: 100%;
    height: 37px;

}

#content .rightContent #searchType li {
    height: 100%;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.5em;
    background-color: #fff;
}

#searchType li:first-of-type {
    border: 2px solid #019875;
    border-right: none;
}

#searchType li:last-of-type {
    display: none;
}

#searchType:hover li:last-of-type {
    border: 2px solid rgba(1, 152, 117, 0.5);
    display: block;
}

#searchType:hover li:first-of-type {
    border-bottom: none;
}

/*三角开始*/
#searchType .dowmICO {
    background: url(../img/s_drop.png);
    width: 14px;
    height: 9px;
    position: absolute;
    right: 10%;
    top: 50%;
}

#searchType:hover .dowmICO {
    animation: dowmICO 0.2s;
    animation-fill-mode: forwards;
}

@keyframes dowmICO {
    to {
        transform: rotate(180deg);
    }
}

/*三角结束*/

#searchText {
    display: inline-block;
    width: 60%;
    height: 35px;
    float: left;
    line-height: 35px;
    border: 2px solid #019875;
}

.searchBar #searchBtn {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.25em;
    display: inline-block;
    border: 2px solid rgba(1, 152, 117, 0.5);
    line-height: 37px;
    background-color: rgb(1, 152, 117);
    width: 23%;
}

.searchBar .hotSearch {
    padding: 10px;
    font-size: 0.8em;
    position: relative;
}

.searchBar .hotSearch ul {
    display: inline-block;
}

.searchBar .hotSearch ul li {
    display: inline-block;
    padding: 0px 10px;
}

.searchBar .hotSearch ul li a {
    color: #555555;
    text-decoration: none;
}

.rightContent .circlePic {
    width: 100%;
    overflow: hidden;
    height: 160px;
}

.rightContent .circlePic .circlePicUl {
    width: 80%;
    height: 100%;
    float: left;
    cursor: pointer;
    position: relative;
}

.rightContent .circlePic .circlePicUl ul,
.rightContent .circlePic .circlePicUl ul li,
.rightContent .circlePic .circlePicUl img {
    width: 100%;
    height: 100%;
}

.rightContent .circlePic .circlePicUl ul {
    position: absolute;
    top: 0px;
}

.rightContent .circlePic .circlePicList {
    width: 16%;
    float: right;
}

.rightContent .circlePic .circlePicList img {
    width: 100%;
    height: 100%;
}

.rightContent .circlePic .circlePicList ul li {
    height: 40px;
    margin-bottom: 9px;
    border: 3px solid #d3d3d3;
}

.rightContent .circlePic .circlePicList ul .change {
    border: 3px solid #019875;
}

.rightContent .advert {
    width: 100%;
}

.rightContent .advert .advertItem {
    border: 1px solid rgba(85, 85, 85, 0.2);
    width: 15%;
    cursor: pointer;
    margin-right: 0.7%;
    margin-top: 2%;
    display: inline-block;
    position: relative;
}

.rightContent .advert .advertItem .shouImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rightContent .advert .advertItem img {
    width: 100%;
    height: 100%;
}

.rightContent .advert .advertItem .hot_info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    display: none;
    background: rgba(1, 152, 117, 0.8);
    opacity: 0;
}

.rightContent .advert .advertItem .hot_info h2 {
    padding: 5px;
    font-size: 1.2em;
}

.rightContent .advert .advertItem .hot_info hr {
    width: 80%;
    color: rgb(255, 255, 255);
}

.rightContent .advert .advertItem .hot_info p {
    text-align: left;
    padding: 5px;
    font-size: 0.7em;
    line-height: 1.5em;
}

.rightContent .advert .advertItem:hover img {
    animation: advert 0.5s;
    animation-fill-mode: forwards;
}

.rightContent .advert .advertItem:hover .hot_info {
    animation: advertHot 0.5s;
    animation-fill-mode: forwards;
    display: block;
}

@keyframes advert {
    to {
        transform: scale(1.5);
    }
}

@keyframes advertHot {
    to {
        opacity: 1;
        top: 0;
    }
}

.rightContent .jobNav {
    width: 100%;
    background: rgb(246, 246, 246);
    margin-top: 20px;
}

.rightContent .jobNav ul li {
    font-size: 1.25em;
    padding: 7px 20px;
    cursor: pointer;
    display: inline-block;
}

.rightContent .jobNav ul .choose {
    border-top: 3px solid #77D3BE;
    background-color: rgb(255, 255, 255);
}

.rightContent .hotJob,
.rightContent .newJob {
    width: 100%;
    position: relative;
}

.rightContent .newJob {
    display: none;
}

.rightContent .hotJob li:nth-child(even),
.rightContent .newJob li:nth-child(even) {
    background-color: rgb(250, 250, 250);
}

.rightContent .hotJob li,
.rightContent .newJob li {
    overflow: hidden;
    padding: 10px;
}

.rightContent .hotJob li .jobInfo,
.rightContent .newJob li .jobInfo {
    width: 50%;
    float: left;
}

.rightContent .hotJob li h2,
.rightContent .newJob li h2 {
    padding: 0 0 20px 0;
}

.rightContent .hotJob li h2 a,
.rightContent .newJob li h2 a {
    color: black;
    margin-right: 20px;
}

.rightContent .hotJob li .companyInfo h2 a,
.rightContent .newJob li .companyInfo h2 a {
    text-decoration: none;
}

.rightContent .hotJob li .light,
.rightContent .newJob li .light {
    color: rgb(119, 119, 119);
}

.rightContent .hotJob li p,
.rightContent .newJob li p {
    margin: 10px 0;
    font-size: 0.8em;
}

.rightContent .hotJob li .companyInfo,
.rightContent .newJob li .companyInfo {
    width: 50%;
    float: left;
}

.rightContent .hotJob li .feature,
.rightContent .newJob li .feature {
    border: 1px solid rgb(119, 119, 119);
    margin-right: 10px;
}

.rightContent .hotJob li .small,
.rightContent .newJob li .small {
    margin-left: 20px;
}

#viewMore {
    float: right;
    background-color: #019875;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 20px;
}

#viewMore span {
    width: 16px;
    height: 16px;
    float: right;
    margin-left: 5px;
}

#viewMore span img {
    width: 100%;
    height: 100%;
}

.friendLink {
    margin-top: 10%;
    width: 100%;
}

.friendLink dt {
    width: 10%;
    float: left;
}

.friendLink dd {
    width: 90%;
    float: right;
}

.friendLink li {
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 7px;
    border-right: 1px solid rgb(85, 85, 85);
}

.friendLink hr {
    color: rgba(236, 236, 236, 0.3);
}

.friendLink li a {
    color: rgb(85, 85, 85);
    text-decoration: none;
    font-size: 0.75em;
}

.friendLink li a:hover {
    color: #0061A6;
    text-decoration: underline;
}
















